<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
  <div id="timer">
    <div>
      <span class="countdown"></span>
    </div>
    <input type="button" value="Start" onclick="start()">
    <input type="button" value="Stop" onclick="pause()">
    <input type="button" value="Reset" onclick="reset()">
    <script th:src="@{/js/timer.js}"></script>
  </div>
</div>
</body>
</html>
