<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
  <div id="timer">
    <div>
      <span class="timer"></span>
    </div>
    <div>
      <span class="progressBar"></span>
    </div>
    <input type="button" value="Start/Stop" onclick="startstop()">
    <input type="button" value="Reset" onclick="reset()">
    <div>
      <span class="tasks"></span>
    </div>
    <script th:src="@{/js/timer.js}"></script>
  </div>
</div>
</body>
</html>
